body {
    position: absolute;
    min-height: 100%;
    height: auto;
    width: 100%;
}
#page {
    height: 100%;
}
#header {
   z-index: 10;
   height: 64px;
}
.ui.accordion .title:not(.ui) {
    font-size: 1.2em !important;
}
#container {
    margin-top: 40px;
    height: calc(100% - 90px);
}
#container > .container {
    min-height: calc(100% - 166px);
    margin-bottom: 25px;
}
#footer {
    height: 155px;
}